@import '@/app/scss/mixins';

.text-section {
  @include fz22-atkinson;

  @include marginBottom(var(--offset-medium, 35px));

  text-wrap: balance;

  p {
    a {
      color: var(--color-medbox-green, #02836f);
      text-decoration: underline;
      text-underline-offset: 5px;
      transition: color var(--timing, 0.3s) ease;

      @include focus;

      @include hover {
        color: var(--color-puerto-rico, #27c6b0);
      }
    }
  }

  blockquote {
    border-left: 4px solid var(--color-mint-green, #cce3da);
    padding-left: 10px;
    margin: 1em 40px;
  }

  @include big-desktop {
    max-width: 100%;
  }

  @include mobile {
    @include fz20-atkinson-mobile;

    @include marginBottom(var(--offset-small-medium, 30px));
  }

  &--details {
    @include marginBottom(var(--offset-small, 25px));
  }

  &--medium {
    @include fz18-atkinson;
  }

  &--footer {
    @include fz18-atkinson;

    @include marginBottom(20px);

    color: var(--color-light, #fff);

    p {
      a {
        color: currentColor;

        &:focus {
          transition: outline 0.1s ease-in, outline-offset 0.1s ease-in;
          outline: 3px dotted currentColor;
          outline-offset: calc(3px * 2);
        }
      }
    }
  }

  &--footer-copyright {
    @include marginBottom(0);

    font-size: 14px;
    color: var(--color-mint-green, #cce3da);
  }
}
