.list-line {
  position: relative;
  padding-top: var(--offset-medium-large);

  &::before {
    content: '';
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: var(--offset-quadruple-extra-large-medium);
    background-color: var(--color-light);
    clip-path: var(--clip-path-wave);
    rotate: 180deg;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: 155px;
    margin-bottom: var(--offset-medium-large);
  }

  &__info {
    max-width: 550px;
  }

  &__text {
    max-width: 475px;
  }

  &__items {
    max-width: 570px;
    padding-top: var(--offset-small);
  }

  &__item {
    --offset-item-list: 20px;

    @include fz35-agrandir;

    @include marginBottom(calc(var(--offset-item-list) * 2));

    position: relative;
    // opacity: 0;
    // translate: 0 100px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: calc(100% + var(--offset-item-list));
      translate: 0 -50%;
      border-radius: 50%;
      width: calc(var(--offset-item-list) * 2);
      aspect-ratio: 1;
      background: url(../../app/img/block-list-checkmark.svg) center/var(--offset-item-list) var(--offset-item-list)
        no-repeat var(--color-dark-green);
    }
  }

  &__wave {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      right: 0;
      width: 100%;
      height: var(--offset-quadruple-extra-large-medium);
      background-color: var(--color-light);
      clip-path: var(--clip-path-wave);
    }
  }

  &__image {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  &__wrapper {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }

  &__review {
    padding: var(--offset-small);
    border-radius: var(--border-radius-top-right-large-bottom);
    max-width: 400px;
    margin-bottom: var(--offset-large-medium);
    margin-left: auto;
    background-color: var(--color-light);
  }

  &__review-top {
    @include marginBottom(var(--offset-tiny-medium));

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__stars {
    display: flex;
    gap: 5px;
  }

  &__social-img {
    aspect-ratio: 1;
  }

  &__blockquote {
    color: var(--color-black-green);
  }

  &__footer {
    padding-top: var(--offset-tiny-medium);
  }
}
