@import '@/app/scss/mixins';

.btn {
  @include fz22-dmsans;

  display: inline-flex;
  align-items: center;
  padding: var(--offset-tiny, 15px) var(--offset-tiny-medium, 20px);
  color: var(--color-light, #fff);
  border-radius: var(--border-radius-all-large);
  background-color: var(--color-medbox-green, #02836f);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: scale var(--timing, 0.3s) ease;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 8px;
    z-index: -1;
    transition: background-color 0.3s ease;
  }

  @include focus;

  @include hover {
    color: var(--color-light, #fff);

    &::after {
      @include loadingWave;

      background-color: var(--color-deep-green, #003d33);
      animation: loadingWave 1.2s linear;
    }
  }

  @include active;

  &--header {
    @include big-desktop {
      display: none;
    }
  }

  &--phone {
    --icon-phone-size: 20px;

    padding: 12px 15px;
    background-color: var(--color-light, #fff);
    color: var(--color-medbox-green, #02836f);
    border: 1px solid currentColor;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
    column-gap: calc(var(--icon-phone-size) / 2);

    &::before {
      content: url(../../../app/img/icon-header-phone.svg);
      width: var(--icon-phone-size);
      height: var(--icon-phone-size);
    }

    @include mobile {
      @include fz18-dmsans;
    }

    @include small-mobile {
      @include fz16-dmsans;
    }
  }

  &--hero-section {
    @include fz30-dmsans;

    padding-inline: var(--offset-small, 25px);
  }
}
