.states {
  position: relative;
  background-color: var(--color-light-mint, #e8f2ee);
  padding-block: var(--offset-extra-large-medium, 60px);

  &::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 100%;
    height: var(--offset-quadruple-extra-large-medium, 90px);
    background-color: var(--color-light-mint, #e8f2ee);
    clip-path: var(--clip-path-wave);
    rotate: 180deg;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    max-width: 535px;
  }

  &__content {
    @include marginBottom(140px);
  }

  &__contact {
    background-color: var(--color-light, #fff);
    padding: var(--offset-small-medium, 30px);
    border-radius: var(--border-radius-top-left-large-bottom, 40px 0 40px 40px);
  }

  &__image {
    max-width: 728px;
    aspect-ratio: 728 / 566;
  }
}
