.info-block {
  &--homepage {
    background-color: var(--color-light-peach);
  }

  &__container {
    display: flex;
  }

  &__content {
    position: relative;
    padding: 120px var(--offset-double-extra-large-medium, 70px);
    width: 60vw;
    background-color: var(--color-light);
    border-radius: var(--border-radius-top-right, 0 100px 0 0);
    display: flex;
    justify-content: center;
  }

  &__info {
    max-width: 465px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &__link {
    @include marginBottom(var(--offset-medium, 35px));
  }

  &__image {
    max-width: 420px;
    aspect-ratio: 420 / 341;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}
