.info-block {
  &--homepage {
    background-color: var(--color-light-peach);
  }

  &__container {
    display: flex;
  }

  &__content {
    position: relative;
    padding: 120px 70px;
    width: 60vw;
    background-color: var(--color-light);
    border-radius: var(--border-radius-top-right);
    display: flex;
    justify-content: center;
  }

  &__info {
    max-width: 465px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &__link {
    @include marginBottom(var(--offset-medium));
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
