{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": false,
  "importOrderGroupNamespaceSpecifiers": false
}
