.hero {
  background-color: var(--color-light-mint, #e8f2ee);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: var(--offset-extra-large, 55px);
    padding-bottom: var(--offset-triple-extra-large, 75px);

    @include xl {
      flex-direction: column;
    }

    @include lg {
      gap: var(--offset-double-extra-large-medium, 70px) 0;
    }

    @include sm {
      padding-bottom: 0;
    }
  }

  &__content {
    max-width: 475px;
    padding-top: var(--offset-large, 45px);

    @include xl {
      max-width: 100%;
      padding-top: var(--offset-medium-large, 40px);
    }
  }

  &__text {
    max-width: 436px;
  }

  &__img {
    max-width: 750px;
    aspect-ratio: 750 / 507;

    @include xl {
      max-width: 100%;
    }
  }
}
