.footer {
  padding-top: var(--offset-extra-large-medium, 60px);
  padding-bottom: var(--offset-small-medium, 30px);
  background-color: var(--color-deep-green, #003d33);
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: -1;

  &__top {
    @include marginBottom(var(--offset-tiny-medium, 20px));

    display: flex;
    align-items: flex-start;
    gap: 250px;
  }

  &__logo {
    display: inline-block;
    opacity: 0.7;
    transition: opacity var(--timing, 0.3s) ease;

    &:focus {
      transition:
        outline 0.1s ease-in,
        outline-offset 0.1s ease-in;
      outline: 3px dotted var(--color-light, #fff);
      outline-offset: calc(3px * 2);
      opacity: 1;
    }

    @include hover {
      opacity: 1;
    }
  }

  &__logo-image {
    max-width: 170px;
  }

  &__contact-list {
    display: flex;
    flex-grow: 1;
    gap: 130px;
  }

  &__contact-item {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-dark-green, #045f51);
  }

  &__social-list {
    display: flex;
    align-items: center;
    gap: var(--offset-medium-large, 40px);
  }

  &__social-link {
    font-size: 14px;
    padding-block: var(--offset-tiny, 15px);
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row-reverse;
    color: var(--color-light, #fff);
    transition: color var(--timing, 0.3s) ease;

    &:focus {
      transition:
        outline 0.1s ease-in,
        outline-offset 0.1s ease-in;
      outline: 3px dotted currentColor;
      outline-offset: calc(3px * 2);
      opacity: 1;
    }

    @include hover {
      color: var(--color-puerto-rico, #27c6b0);
    }
  }

  &__policy-list {
    display: flex;
    gap: var(--offset-small-medium, 30px);
  }

  &__bottom {
    padding-top: var(--offset-tiny, 15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom-list {
    display: flex;
    align-items: center;
    gap: var(--offset-tiny-medium, 20px);
  }

  &__bottom-link {
    display: inline-block;
    transition: scale var(--timing, 0.3s) ease;

    &:focus {
      transition:
        outline 0.1s ease-in,
        outline-offset 0.1s ease-in;
      outline: 3px dotted var(--color-light, #fff);
      outline-offset: calc(3px * 2);
    }

    @include hover {
      scale: 1.1;
    }
  }

  &__bottom-image {
    max-width: 110px;
    object-fit: none;
  }
}
