.skiplink {
  --skiplink-offset: 20px;
  --skiplink-bg-color: var(--color-medbox-green, #02836f);
  --skiplink-overlay-color: hsl(0deg 0% 0%);
  --skiplink-flashing-color: hsl(0deg 0% 100%);
  --skiplink-overlay-color-mix-a60: color-mix(
    in srgb,
    var(--skiplink-overlay-color),
    transparent 40%
  );
  --skiplink-flashing-color-mix-a50: color-mix(
    in srgb,
    var(--skiplink-flashing-color),
    transparent 50%
  );

  position: fixed;
  inset: 0;
  opacity: 0;
  font-family: var(--font-family-additional);
  font-size: var(--skiplink-offset);
  font-weight: 700;
  background-color: var(--skiplink-overlay-color-mix-a60, hsl(0deg 0% 0% / 60%));
  color: var(--color-black);
  z-index: var(--skiplink-z-index);
  pointer-events: none;
  transition:
    opacity var(--timing, 0.3s) ease,
    background-color var(--timing, 0.3s) ease;

  &__text {
    @include pulse-btn-bg;

    position: relative;
    top: calc(var(--skiplink-offset) * 2);
    left: var(--skiplink-offset);
    padding: var(--skiplink-offset);
    border-radius: var(--skiplink-offset);
    background-color: var(--skiplink-bg-color);
    color: var(--color-light, #ffffff);
    border: 2px solid var(--color-light, #ffffff);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: pulse-btn-bg 1.5s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal
      none running;
    transition: box-shadow var(--timing, 0.3s);

    &::before {
      content: url("../../../app/assets/img/skiplink-enter-icon.svg");
      margin-left: var(--skiplink-offset);
      order: 2;
      width: var(--skiplink-offset);
      height: var(--skiplink-offset);
    }

    &::after {
      content: attr(data-title);
      font-size: initial;
      order: 3;
      padding-top: 2px;
      margin-left: 2px;
    }
  }

  &:focus {
    opacity: 1;

    & .skiplink__text {
      box-shadow: var(--skiplink-flashing-color-mix-a50, hsl(0deg 0% 100% / 50%))
        0 0 0 0;
    }
  }
}
