.hero {
  &--homepage {
    background-color: var(--color-light-mint);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: var(--offset-extra-large);
    padding-bottom: var(--offset-triple-extra-large);

    @include big-desktop {
      flex-direction: column;
    }

    @include tablet {
      column-gap: 0;
      row-gap: var(--offset-double-extra-large-medium);
    }

    @include mobile {
      padding-bottom: 0;
    }
  }

  &__info {
    max-width: 475px;
    padding-top: var(--offset-large);

    @include big-desktop {
      max-width: 100%;
      padding-top: var(--offset-medium-large);
    }
  }

  &__text {
    max-width: 436px;
  }

  &__img {
    max-width: 750px;
    aspect-ratio: 750 / 507;

    @include big-desktop {
      max-width: 100%;
    }
  }
}
