.details {
  $root: &;

  &[open] {
    #{$root}__summary {
      &::after {
        rotate: 180deg;
      }
    }

    #{$root}__content {
      animation: details-slide var(--timing, 0.3s) ease-in-out;
    }
  }

  &__summary {
    @include fz28-agrandir;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--offset-tiny-medium, 20px);
    border-top: 1px solid var(--color-grey, #9fa4a1);
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: '';
      flex-shrink: 0;
      display: block;
      width: var(--offset-large-medium, 50px);
      aspect-ratio: 1;
      background: url(../../../app/img/details-arrow.svg) center/var(--offset-tiny-medium) no-repeat
        var(--color-medbox-green, #02836f);
      border-radius: 50%;
      transition: rotate var(--timing, 0.3s) ease, background-color var(--timing, 0.3s) ease;
    }

    @include focus;

    @include hover {
      &::after {
        background-color: var(--color-dark-green, #045f51);
      }
    }
  }

  &__content {
    @include details-slide;

    margin-bottom: var(--offset-tiny-medium, 20px);
  }

  &__image {
    max-width: 520px;
    border-radius: var(--border-radius-all-large, 40px);
  }
}
