:root {
  --color-light: hsl(0, 0%, 100%);
  --color-cream: hsl(30, 36%, 96%);
  --color-alabaster: hsl(43, 28%, 90%);
  --color-light-peach: hsl(15, 57%, 95%);
  --color-peach: hsl(18, 73%, 87%);
  --color-light-mint: hsl(156, 28%, 93%);
  --color-mint-green: hsl(157, 29%, 85%);
  --color-medbox-green: hsl(171, 97%, 26%);
  --color-dark-green: hsl(171, 92%, 19%);
  --color-black-green: hsl(168, 7%, 14%);
  --color-beige: hsl(38, 23%, 77%);
  --color-blue-green: hsl(172, 60%, 71%);
  --color-puerto-rico: hsl(172, 67%, 46%);
  --color-deep-green: hsl(170, 100%, 12%);
  --color-grey: hsl(144, 3%, 63%);
  --color-dark-grey: hsl(167, 5%, 35%);
  --color-input-error: hsl(0, 90%, 50%);
}
