:root {
  --color-light: #ffffff;
  --color-cream: #f8f4f0;
  --color-alabaster: #ede9df;
  --color-light-peach: #f9ede9;
  --color-peach: #f6d4c6;
  --color-light-mint: #e8f2ee;
  --color-mint-green: #cce3da;
  --color-medbox-green: #02836f;
  --color-dark-green: #045f51;
  --color-black-green: #202524;
  --color-beige: #d2c8b7;
  --color-blue-green: #88e1d5;
  --color-puerto-rico: #27c6b0;
  --color-deep-green: #003d33;
  --color-grey: #9fa4a1;
  --color-dark-grey: #565f5d;
}
