:root {
  --color-light: hsl(0deg 0% 100%);
  --color-cream: hsl(30deg 36% 96%);
  --color-alabaster: hsl(43deg 28% 90%);
  --color-peach: hsl(18deg 73% 87%);
  --color-light-peach: hsl(15deg 57% 95%);
  --color-light-mint: hsl(156deg 28% 93%);
  --color-mint-green: hsl(157deg 29% 85%);
  --color-medbox-green: hsl(171deg 97% 26%);
  --color-dark-green: hsl(171deg 92% 19%);
  --color-black-green: hsl(168deg 7% 14%);
  --color-beige: hsl(38deg 23% 77%);
  --color-blue-green: hsl(172deg 60% 71%);
  --color-puerto-rico: hsl(172deg 67% 46%);
  --color-deep-green: hsl(170deg 100% 12%);
  --color-grey: hsl(144deg 3% 63%);
  --color-dark-grey: hsl(167deg 5% 35%);
  --color-input-error: hsl(0deg 90% 50%);
}
