:root {
  --offset-huge: 100px;
  --offset-quintuple-extra-large: 95px;
  --offset-quadruple-extra-large-medium: 90px;
  --offset-quadruple-extra-large: 85px;
  --offset-triple-extra-large-medium: 80px;
  --offset-triple-extra-large: 75px;
  --offset-double-extra-large-medium: 70px;
  --offset-double-extra-large: 65px;
  --offset-extra-large-medium: 60px;
  --offset-extra-large: 55px;
  --offset-large-medium: 50px;
  --offset-large: 45px;
  --offset-medium-large: 40px;
  --offset-medium: 35px;
  --offset-small-medium: 30px;
  --offset-small: 25px;
  --offset-tiny-medium: 20px;
  --offset-tiny: 15px;
}
