.page {
  height: 100%;
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.scroll-lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  --content-max-width: 1300px;
  --padding-inline: 15px;

  margin-inline: auto;
  width: min(var(--content-max-width), 100% - (var(--padding-inline) * 2));
}

.skiplink {
  --skiplink-offset: 20px;

  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  font-family: inherit;
  font-size: var(--skiplink-offset);
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--color-black);
  z-index: var(--skiplink-z-index);
  pointer-events: none;

  &__text {
    position: relative;
    top: var(--skiplink-offset);
    left: var(--skiplink-offset);
    padding: var(--skiplink-offset);
    border-radius: var(--skiplink-offset);
    background-color: var(--color-light);
    border: 2px solid var(--color-black-green);
    display: inline-flex;
    gap: var(--skiplink-offset);
    align-items: center;
    justify-content: center;

    &::after {
      content: url(../img/skiplink-enter-icon.svg);
      width: var(--skiplink-offset);
      height: var(--skiplink-offset);
    }
  }

  &:focus {
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  * {
    &,
    &::after,
    &::before {
      animation: none !important;
      transition: 0.01s !important;
      scroll-behavior: auto !important;
    }
  }
}
