.page {
  height: 100%;
  font-family: var(--font-family-base);
  background-color: var(--color-light);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.scroll-lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  --content-max-width: 1300px;
  --padding-inline: 15px;

  margin-inline: auto;
  width: min(var(--content-max-width), 100% - (var(--padding-inline) * 2));
}

.skiplink {
  --skiplink-offset: 20px;
  --skiplink-overlay-color: rgba(0, 0, 0, 0.6);
  --skiplink-bgcolor: rgba(13, 32, 202, 0.473);
  --skiplink-flashing-color: rgba(255, 255, 255, 0.5);

  position: fixed;
  inset: 0;
  opacity: 0;
  font-family: inherit;
  font-size: var(--skiplink-offset);
  font-weight: 700;
  background-color: var(--skiplink-overlay-color);
  color: var(--color-black);
  z-index: var(--skiplink-z-index);
  pointer-events: none;
  transition: opacity var(--timing) ease, background-color var(--timing) ease;

  &__text {
    @include pulse-btn-bg;

    position: relative;
    top: var(--skiplink-offset);
    left: var(--skiplink-offset);
    padding: var(--skiplink-offset);
    border-radius: var(--skiplink-offset);
    background-color: var(--skiplink-bgcolor);
    color: var(--color-light);
    border: 2px solid var(--color-light);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: pulse-btn-bg 1.5s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running;
    transition: box-shadow var(--timing);

    &::before {
      content: url(../img/skiplink-enter-icon.svg);
      margin-left: var(--skiplink-offset);
      order: 2;
      width: var(--skiplink-offset);
      height: var(--skiplink-offset);
    }

    &::after {
      content: attr(data-title);
      font-size: initial;
      order: 3;
      padding-top: 2px;
      margin-left: 2px;
    }
  }

  &:focus {
    opacity: 1;

    & .skiplink__text {
      box-shadow: var(--skiplink-flashing-color) 0px 0px 0px 0px;
    }
  }
}

@media (prefers-reduced-motion) {
  * {
    &,
    &::after,
    &::before {
      animation: none !important;
      transition: 0.01s !important;
      scroll-behavior: auto !important;
    }
  }
}
