.link {
  @include fz18-atkinson;

  display: block;
  color: var(--color-black-green, #202524);
  position: relative;
  transition:
    color var(--timing) ease,
    scale var(--timing, 0.3s) ease;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: var(--color-medbox-green, #02836f);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform var(--timing, 0.3s) ease-in-out;
  }

  @include focus;

  @include hover {
    color: var(--color-medbox-green, #02836f);

    &::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  @include xl {
    @include fz26-atkinson;
  }

  &--nav-active {
    color: var(--color-medbox-green, #02836f);

    &::before {
      transform: scaleX(1);
    }
  }

  &--nav-external {
    color: var(--color-medbox-green, #02836f);

    @include hover {
      &::before {
        transform: scale(0);
      }
    }
  }

  &--phone {
    @include fz22-atkinson;

    @include marginBottom(var(--offset-medium, 35px));

    display: flex;
    align-items: center;
    column-gap: var(--offset-tiny, 15px);
    flex-direction: row-reverse;

    &::after {
      content: url(../assets/img/phone-icon-link.svg);
      width: var(--offset-small-medium, 30px);
      height: var(--offset-small-medium, 30px);
    }

    &::before {
      bottom: -5px;
    }
  }

  &--puerto-rico {
    @include fz22-dmsans;

    @include marginBottom(var(--offset-medium, 35px));

    display: inline-block;
    color: var(--color-puerto-rico, #27c6b0);
  }

  &--light {
    @include marginBottom(10px);

    display: inline-block;
    color: var(--color-light, #fff);

    &:focus {
      transition:
        outline 0.1s ease-in,
        outline-offset 0.1s ease-in;
      outline: 3px dotted var(--color-light, #fff);
      outline-offset: calc(3px * 2);
    }

    @include hover {
      color: var(--color-puerto-rico, #27c6b0);

      &::before {
        background-color: currentColor;
      }
    }
  }

  &--mint {
    font-size: 14px;
    color: var(--color-mint-green, #cce3da);

    &:focus {
      transition:
        outline 0.1s ease-in,
        outline-offset 0.1s ease-in;
      outline: 3px dotted var(--color-light, #fff);
      outline-offset: calc(3px * 2);
    }
  }
}

.centered {
  @include marginBottom(var(--offset-large-medium, 50px));

  text-align: center;
}
