.supporting {
  padding-block: var(--offset-double-extra-large-medium, 70px);

  &__list {
    padding-block: var(--offset-small-medium, 30px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: var(--offset-large-medium, 50px);
  }

  &__item {
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__link {
    position: relative;
    overflow: hidden;
    transition: scale var(--timing, 0.3s) ease;

    @include focus;

    @include hover {
      scale: 1.1;

      &::before {
        @include shine;

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 200%;
        opacity: 0.5;
        background: linear-gradient(to left, transparent 0%, #ffffff 40% 60%, transparent 100%);
        transform: translate(-120%, -25%);
        animation: shine 4s infinite;
      }
    }
  }
}
