.sign-up {
  position: relative;
  padding-block: var(--offset-extra-large-medium, 60px);
  background-color: var(--color-medbox-green, #02836f);

  &::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 100%;
    height: var(--offset-double-extra-large-medium, 70px);
    background-color: var(--color-medbox-green, #02836f);
    clip-path: var(--clip-path-wave);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__subtitle {
    @include fz35-agrandir;

    max-width: 555px;
    color: var(--color-light, #fff);
    font-weight: 400;
  }

  &__form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &__label {
    max-width: 475px;
    width: 100%;
  }

  &__input {
    @include fz22-atkinson;

    width: 100%;
    padding: var(--offset-tiny, 15px) var(--offset-small-medium, 30px);
    height: var(--offset-extra-large-medium, 60px);
    background-color: var(--color-light, #fff);
    border-radius: var(--border-radius-top-and-left-small, 20px 0 0 20px);

    &::placeholder {
      color: var(--color-black-green, #202524);
    }

    &:focus {
      transition: outline 0.1s ease-in, outline-offset 0.1s ease-in;
      outline: 3px dotted var(--color-light, #fff);
      outline-offset: calc(3px * 2);
    }

    &--error {
      &::placeholder {
        color: var(--color-input-error, #f10d0d);
      }
    }
  }

  &__btn {
    @include fz22-dmsans;

    height: var(--offset-extra-large-medium, 60px);
    padding: var(--offset-tiny, 15px) var(--offset-small-medium, 30px);
    color: var(--color-light, #fff);
    background-color: var(--color-deep-green, #003d33);
    border-radius: var(--border-radius-right-top-and-bottom, 0 20px 20px 0);
    transition: color var(--timing, 0.3s) ease, background-color var(--timing, 0.3s) ease,
      opacity var(--timing, 0.3s) ease;

    &:focus {
      transition: outline 0.1s ease-in, outline-offset 0.1s ease-in;
      outline: 3px dotted currentColor;
      outline-offset: calc(3px * 2);
    }

    @include hover {
      color: var(--color-black-green, #202524);
      background-color: var(--color-blue-green, #88e1d5);
    }
  }

  &__error {
    @include fz18-dmsans;

    position: absolute;
    bottom: calc(var(--offset-medium-large) * -1);
    color: var(--color-light, #fff);
  }

  &__success {
    @include success-form-animate;

    display: flex;
    align-items: center;
    gap: var(--offset-small-medium, 30px);
    animation: success-form-animate var(--timing-animation, 0.5s) ease-in-out forwards;
  }

  &__success-image {
    max-width: 105px;
    aspect-ratio: 105 / 84;
  }

  &__success-text {
    @include fz28-agrandir;

    color: var(--color-light, #fff);
  }
}
