.header {
  --header-height: 85px;

  padding-top: var(--offset-small, 25px);
  padding-bottom: var(--offset-small-medium, 30px);
  background-color: var(--color-light-mint, #e8f2ee);

  @include xl {
    padding: 0;
  }

  &__container {
    @include xl {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--offset-tiny-medium, 20px);
    border-radius: var(--border-radius-all-tiny, 10px);
    border: 1px solid var(--color-mint-green, #cce3da);
    padding: var(--offset-tiny-medium, 20px) var(--offset-medium-large, 40px);
    background-color: var(--color-light, #fff);

    @include xl {
      min-height: var(--header-height, 85px);
      border-radius: var(--border-radius-right-left, 0 0 20px 20px);
      border: none;
    }

    @include sm {
      padding: var(--offset-tiny-medium, 20px);
    }
  }

  &__logo {
    position: relative;
    overflow: hidden;

    @include focus;

    @include hover {
      &::before {
        @include shine;

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 200%;
        opacity: 0.5;
        background: linear-gradient(
          to left,
          transparent 0%,
          #fff 40% 60%,
          transparent 100%
        );
        transform: translate(-120%, -25%);
        animation: shine 4s infinite;
      }
    }
  }

  &__logo-img {
    max-width: 145px;
  }

  .burger {
    --burger-width: 45px;
    --burger-height: 45px;
    --burger-line-height: 3px;

    display: none;

    &__line {
      position: relative;
      width: var(--burger-width, 45px);
      height: var(--burger-height, 45px);
      color: var(--color-light, #fff);
      background-color: var(--color-medbox-green, #02836f);
      border-radius: 50%;
      z-index: 10;
      cursor: pointer;
      transition:
        background-color var(--timing, 0.3s) ease-out,
        color var(--timing, 0.3s) ease-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: var(--burger-line-height, 3px);
        background-color: currentColor;
        border-radius: var(--border-radius-all-small, 20px);
        transition:
          transform var(--timing, 0.3s) ease-in-out,
          top var(--timing, 0.3s) ease-in-out;
      }

      &::before {
        top: calc(50% - var(--burger-line-height, 3px) - 5px);
      }

      &::after {
        top: calc(50% + 5px);
      }
    }

    &__info {
      @include fz22-dmsans;

      color: var(--color-dark-green, #045f51);
    }

    &--active {
      & .burger__line {
        background-color: transparent;
        color: var(--color-medbox-green, #02836f);
        --burger-line-height: 2px;

        &::before {
          width: 30px;
          top: 48%;
          transform: translateX(-50%) rotate(45deg);
          transition:
            transform var(--timing, 0.3s) ease-in-out,
            top var(--timing, 0.3s) ease-in-out;
        }

        &::after {
          width: 30px;
          top: 48%;
          transform: translateX(-50%) rotate(-45deg);
          transition:
            transform var(--timing, 0.3s) ease-in-out,
            top var(--timing, 0.3s) ease-in-out;
        }
      }
    }

    @include xl {
      display: flex;
      align-items: center;
      gap: var(--offset-tiny, 15px);
    }
  }
}
