.header {
  --header-height: 85px;

  padding-top: var(--offset-small, 25px);
  padding-bottom: var(--offset-small-medium, 30px);
  background-color: var(--color-light-mint, #e8f2ee);

  @include big-desktop {
    padding: 0;
  }

  &__container {
    @include big-desktop {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--offset-tiny-medium, 20px);
    border-radius: var(--border-radius-all-tiny, 10px);
    border: 1px solid var(--color-mint-green, #cce3da);
    padding: var(--offset-tiny-medium, 20px) var(--offset-medium-large, 40px);
    background-color: var(--color-light, #fff);

    @include big-desktop {
      min-height: var(--header-height, 85px);
      border-radius: var(--border-radius-right-left, 0 0 20px 20px);
      border: none;
    }

    @include mobile {
      padding: var(--offset-tiny-medium, 20px);
    }
  }

  &__logo {
    position: relative;
    overflow: hidden;

    @include focus;

    @include hover {
      &::before {
        @include shine;

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 200%;
        opacity: 0.5;
        background: linear-gradient(to left, transparent 0%, #fff 40% 60%, transparent 100%);
        transform: translate(-120%, -25%);
        animation: shine 4s infinite;
      }
    }
  }

  &__logo-img {
    max-width: 145px;
  }

  &__nav {
    @include big-desktop {
      position: fixed;
      top: var(--header-height, 85px);
      left: 0;
      width: 100vw;
      height: calc(100dvh - var(--header-height, 85px));
      background-color: var(--color-light-mint, #e8f2ee);
      translate: -120% 0;
      transition: translate var(--timing-burger-nav, 1s) var(--burger-nav-animation);
      overflow-y: auto;
      z-index: var(--header-nav-z-index, 10);
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      &--active {
        translate: 0;
      }
    }
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--offset-small, 25px);

    @include big-desktop {
      margin-block: var(--offset-medium-large, 40px);
      flex-direction: column;
      flex-grow: 1;
      gap: var(--offset-small-medium, 30px);
    }
  }

  &__nav-item {
    @include big-desktop {
      flex-grow: 1;
    }
  }

  &__mobile {
    display: none;

    @include big-desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--offset-tiny, 15px);
      background-color: var(--color-light, #fff);
      padding: var(--offset-tiny, 15px) var(--offset-small, 25px);
      border-top: 1px solid var(--color-mint-green, #cce3da);
    }

    @include small-mobile {
      padding: var(--offset-tiny, 15px);
    }
  }

  &__mobile-btn {
    @include mobile {
      @include fz18-dmsans;

      padding: var(--offset-tiny, 15px);
    }

    @include small-mobile {
      @include fz16-dmsans;
    }
  }

  &__burger {
    --burger-width: 45px;
    --burger-height: 45px;
    --burger-line-height: 3px;

    display: none;

    &-line {
      position: relative;
      width: var(--burger-width, 45px);
      height: var(--burger-height, 45px);
      color: var(--color-light, #fff);
      background-color: var(--color-medbox-green, #02836f);
      border-radius: 50%;
      z-index: 10;
      cursor: pointer;
      transition: background-color var(--timing, 0.3s) ease-out, color var(--timing, 0.3s) ease-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: var(--burger-line-height, 3px);
        background-color: currentColor;
        border-radius: var(--border-radius-all-small, 20px);
        transition: transform var(--timing, 0.3s) ease-in-out, top var(--timing, 0.3s) ease-in-out;
      }

      &::before {
        top: calc(50% - var(--burger-line-height, 3px) - 5px);
      }

      &::after {
        top: calc(50% + 5px);
      }
    }

    &--active {
      & .header__burger-line {
        background-color: transparent;
        color: var(--color-medbox-green, #02836f);
        --burger-line-height: 2px;

        &::before {
          width: 30px;
          top: 48%;
          transform: translateX(-50%) rotate(45deg);
          transition: transform var(--timing, 0.3s) ease-in-out, top var(--timing, 0.3s) ease-in-out;
        }

        &::after {
          width: 30px;
          top: 48%;
          transform: translateX(-50%) rotate(-45deg);
          transition: transform var(--timing, 0.3s) ease-in-out, top var(--timing, 0.3s) ease-in-out;
        }
      }
    }

    @include big-desktop {
      display: flex;
      align-items: center;
      gap: var(--offset-tiny, 15px);
    }
  }

  &__burger-info {
    @include fz22-dmsans;

    color: var(--color-dark-green, #045f51);
    transition: opacity var(--timing, 0.3s) ease-out, visibility var(--timing, 0.3s) ease-out;

    &.is-hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}
