.feedback {
  padding: var(--offset-quadruple-extra-large, 85px) var(--offset-extra-large-medium, 60px);
  background-color: var(--color-light, #fff);

  &__list {
    @include marginBottom(var(--offset-large-medium, 50px));

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--offset-small, 25px);
  }

  &__item {
    display: flex;
  }
}
