@import '@/app/scss/mixins';

.subtitle-section {
  @include fz50-agrandir;

  @include marginBottom(var(--offset-tiny-medium, 20px));

  text-wrap: balance;

  &--extra-large {
    @include fz70-agrandir;

    @include sm {
      @include fz50-agrandir-mobile;
    }
  }

  &--large {
    @include fz45-agrandir;
  }

  &--sign-up {
    @include fz35-agrandir;

    max-width: 555px;
    color: var(--color-light, #fff);
    font-weight: 400;
  }

  &--blog {
    @include fz28-agrandir;

    color: var(--color-black-green, #202524);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color var(--timing-animation, 0.5s) ease;

    @include hover {
      text-decoration-color: currentColor;
    }
  }
}
