@import '@/app/scss/mixins';

.title-section {
  @include fz19-atkinson;

  @include marginBottom(var(--offset-medium, 35px));

  font-weight: 400;
  text-transform: uppercase;
  text-wrap: balance;

  @include mobile {
    @include fz16-atkinson;

    @include marginBottom(var(--offset-tiny-medium, 20px));
  }

  &--footer {
    @include marginBottom(var(--offset-tiny-medium, 20px));

    color: var(--color-light, #fff);
    text-transform: initial;
    font-weight: 700;
  }
}
