.resources {
  padding-block: var(--offset-extra-large-medium, 60px);
  background-color: var(--color-cream, #f8f4f0);
  overflow-x: hidden;

  &__container {
    display: flex;
    gap: var(--offset-extra-large, 55px);
  }

  &__content {
    max-width: 350px;
    flex-shrink: 0;
  }

  &__wrapper {
    max-width: 950px;
  }

  &__slider {
    clip-path: inset(-100vw -100vw -100vw 0);

    &.swiper {
      overflow: visible;
      padding-inline: var(--offset-extra-large-medium, 60px);
    }

    & .swiper-slide {
      transition: opacity var(--timing, 0.3s) ease;

      &:not(.swiper-slide-active, .swiper-slide-next) {
        opacity: 0.5;
        pointer-events: none;
        touch-action: none;
        user-select: none;
      }
    }

    & .swiper-button-next,
    .swiper-button-prev {
      top: 50%;
      right: 0;
      transform: translate(-50%, 0);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: url(../../../app/img/details-arrow.svg) center/var(--offset-tiny-medium) no-repeat
        var(--color-medbox-green, #02836f);
      rotate: 90deg;
      transition: background-color var(--timing, 0.3s) ease, opacity var(--timing, 0.3s) ease;

      &::after {
        display: none;
      }

      @include focus;

      @include hover {
        background-color: var(--color-dark-green, #045f51);
      }
    }

    & .swiper-button-prev {
      left: 0;
      transform: translate(50%, 0);
      rotate: -90deg;

      &.swiper-button-disabled {
        opacity: 0;
      }
    }
  }
}
