.line-list {
  position: relative;
  padding-top: var(--offset-medium-large, 40px);
  background-color: var(--color-light, #fff);

  &::before {
    content: '';
    position: absolute;
    top: calc(var(--offset-triple-extra-large-medium, 80px) * -1);
    left: 0;
    width: 100%;
    height: var(--offset-quadruple-extra-large-medium, 90px);
    background-color: var(--color-light, #fff);
    clip-path: var(--clip-path-wave);
    rotate: 180deg;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 155px;
    margin-bottom: var(--offset-medium-large, 40px);
  }

  &__svg-line {
    display: none;
    position: absolute;
    top: -400px;
    left: 50%;
    transform: translateX(-50vw);
    width: 100vw;
    // width: calc(100vw - 9px);
    // aspect-ratio: 1;
    z-index: 10;
  }

  &__content {
    max-width: 550px;
  }

  &__items {
    position: relative;
    max-width: 570px;
    padding-top: var(--offset-small, 25px);
  }

  &__item {
    --offset-item-list: 20px;

    @include fz35-agrandir;

    @include marginBottom(calc(var(--offset-item-list, 20px) * 2));

    position: relative;
    // opacity: 0;
    // translate: 0 100px;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: calc(100% + var(--offset-item-list, 20px));
      translate: 0 -50%;
      border-radius: 50%;
      width: calc(var(--offset-item-list, 20px) * 2);
      aspect-ratio: 1;
      background: url(../../../app/img/block-list-checkmark.svg) center/var(--offset-item-list, 20px)
        var(--offset-item-list, 20px) no-repeat var(--color-dark-green, #045f51);
    }
  }

  &__wave {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -10px;
      right: 0;
      width: 100%;
      height: var(--offset-quadruple-extra-large-medium, 90px);
      background-color: var(--color-light, #fff);
      clip-path: var(--clip-path-wave);
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 1440 / 720;
  }

  &__wrapper {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
}
