.review {
  --review-padding: var(--offset-small, 25px);
  --review-background-color: var(--color-light, #ffffff);
  --review-border-radius: var(
    --border-radius-top-right-large-bottom,
    0 40px 40px 40px
  );
  --review-star-icon: var(--color-puerto-rico, #27c6b0);
  --review-offset: var(--offset-tiny-medium, 20px);
  --review-blockquote-font-family: var(--font-family-accent);
  --review-blockquote-font-weight: 400;
  --review-blockquote-font-size: 18px;
  --review-blockquote-line-height: 1.4;
  --review-blockquote-letter-spacing: 0;
  --review-author-font-size: inherit;

  padding: var(--review-padding);
  border-radius: var(--review-border-radius);
  background-color: var(--review-background-color);

  &--line-list {
    margin-left: auto;
    margin-bottom: var(--offset-large-medium, 50px);
    max-width: 400px;
  }

  &--banner {
    --review-padding: 150px 60px;
    --review-background-color: var(--color-mint-green, #cce3da);
    --review-border-radius: var(--border-radius-top-left);
    --review-star-icon: var(--color-dark-green, #045f51);
    --review-offset: var(--offset-small-medium);
    --review-blockquote-font-family: var(--font-family-base);
    --review-blockquote-font-size: var(--offset-medium);
    --review-blockquote-letter-spacing: 0.35px;
    --review-author-font-size: 22px;

    background-color: var(--review-background-color);
    border-radius: var(--review-border-radius);
    width: 40vw;
  }

  &--feedback {
    --review-padding: var(--offset-medium-large) var(--offset-medium);
    --review-background-color: var(--color-cream, #f8f4f0);
    --review-border-radius: var(--border-radius-top-and-right-large);
    --review-blockquote-font-size: 22px;

    max-width: 415px;
  }

  &__top {
    @include marginBottom(var(--review-offset));

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__stars {
    display: flex;
    width: var(--offset-small, 25px);
    aspect-ratio: 1;
    gap: 5px;
  }

  &__star-icon {
    fill: var(--review-star-icon);
  }

  &__social-link {
    position: relative;
    overflow: hidden;
    transition: scale var(--timing, 0.3s) ease;

    @include focus;

    @include hover {
      scale: 1.1;

      &::before {
        @include shine;

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 120%;
        height: 200%;
        opacity: 0.5;
        background: linear-gradient(
          to left,
          transparent 0%,
          var(--review-background-color) 40% 60%,
          transparent 100%
        );
        transform: translate(-120%, -25%);
        animation: shine 4s infinite;
      }
    }
  }

  &__social-image {
    aspect-ratio: 1;
  }

  &__blockquote {
    font-family: var(--review-blockquote-font-family);
    font-weight: var(--review-blockquote-font-weight);
    font-size: var(--review-blockquote-font-size);
    line-height: var(--review-blockquote-line-height);
    letter-spacing: var(--review-blockquote-letter-spacing);
  }

  &__footer {
    padding-top: var(--review-offset);
  }

  &__author {
    display: block;
    font-size: var(--review-author-font-size);
  }
}
