.blog-post {
  $root: &;
  --blog-post-offset: 10px;

  display: block;
  max-width: 400px;

  @include focus;

  @include hover {
    #{$root}__image {
      scale: 1.1;
    }

    #{$root}__subtitle {
      text-decoration-color: currentColor;
    }
  }

  &__wrapper {
    @include marginBottom(var(--offset-tiny-medium, 20px));

    overflow: hidden;
    border-radius: var(--border-radius-all-large, 40px);
  }

  &__image {
    max-width: 400px;
    aspect-ratio: 400 / 250;
    border-radius: var(--border-radius-all-large, 40px);
    transition: scale var(--timing-animation, 0.5s) ease;
  }

  &__meta {
    @include marginBottom(var(--blog-post-offset, 10px));

    display: flex;
    color: var(--color-dark-grey, #565f5d);
  }

  &__tag {
    margin-right: var(--blog-post-offset, 10px);
  }

  &__time {
    position: relative;
    padding-left: var(--blog-post-offset, 10px);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
      width: 3px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--color-dark-grey, #565f5d);
    }
  }

  &__subtitle {
    color: var(--color-black-green, #202524);
    transition: text-decoration-color var(--timing-animation, 0.5s) ease;
    text-decoration: underline;
    text-decoration-color: transparent;
  }
}
