.benefits {
  padding-top: var(--offset-double-extra-large-medium, 70px);
  padding-bottom: var(--offset-large-medium, 50px);
  background-color: var(--color-light, #fff);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -88px;
    right: 0;
    width: 100%;
    height: var(--offset-quadruple-extra-large-medium, 90px);
    background-color: var(--color-light, #fff);
    clip-path: var(--clip-path-wave-mirrored);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 520px;
  }

  &__image {
    max-width: 577px;
    aspect-ratio: 577 / 376;
    border-radius: var(--border-radius-bottom-left-large);
  }
}
