.benefits {
  padding-top: 70px;
  padding-bottom: 50px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -88px;
    right: 0;
    width: 100%;
    height: var(--offset-quadruple-extra-large-medium);
    background-color: var(--color-light);
    clip-path: var(--clip-path-wave-mirrored);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    max-width: 520px;
  }

  &__image {
    border-radius: var(--border-radius-bottom-left-large);
  }
}
